In [6]:
import pandas as pd

In [55]:
# read and load the data the data from excel
# def read_data_from_csv():
df = pd.read_csv('dataset_olympics.csv')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,35656,Stuart Fitzsimmons,M,19.0,NaN,NaN,Great Britain,GBR,1976 Winter,1976,Winter,Innsbruck,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
69996,35656,Stuart Fitzsimmons,M,19.0,NaN,NaN,Great Britain,GBR,1976 Winter,1976,Winter,Innsbruck,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
69997,35657,"David Thomas ""Dave"" Fitzsimons",M,26.0,170.0,65.0,Australia,AUS,1976 Summer,1976,Summer,Montreal,Athletics,"Athletics Men's 10,000 metres",NaN
69998,35657,"David Thomas ""Dave"" Fitzsimons",M,30.0,170.0,65.0,Australia,AUS,1980 Summer,1980,Summer,Moskva,Athletics,"Athletics Men's 5,000 metres",NaN
69999,35658,Marek Fiurek,M,23.0,180.0,68.0,Czech Republic,CZE,1998 Winter,1998,Winter,Nagano,Nordic Combined,Nordic Combined Men's Team,NaN

In [39]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [40]:
#read data from csv
data=read_data_from_csv()

In [41]:
#copy the data
df=data.copy(deep=True)

In [42]:
df.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [43]:
# Define columns to remove
df.drop(columns=['Height','Weight'],axis=1,inplace=True)

In [44]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Team', 'NOC', 'Games', 'Year', 'Season',
       'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

    # Define new column names for renaming('Team' : 'Region')

In [45]:
df.rename(columns = {'Team':'Region'},inplace = True)

In [46]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Region', 'NOC', 'Games', 'Year', 'Season',
       'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [47]:
df.shape

(70000, 13)

In [48]:
#dropping duplicates
df.drop_duplicates(keep='first',inplace=True)

In [49]:
df.shape

(69617, 13)

#fill the missing values as medalless

In [50]:
df['Medal'].fillna('Medal-less',inplace=True)

In [51]:
df['Medal'].value_counts()

Medal-less    59931
Gold           3290
Bronze         3208
Silver         3188
Name: Medal, dtype: int64

In [52]:
df['Age'].mean()

25.54425955247513

In [53]:
#Replacing missing values with mean
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [54]:
df['Age'].value_counts()

23.0    5610
24.0    5448
22.0    5276
25.0    5095
21.0    5068
        ...
11.0       1
75.0       1
67.0       1
84.0       1
88.0       1
Name: Age, Length: 69, dtype: int64

In [37]:
# Save the cleaned dataset to a new CSV file named 'olympics_history_noc_regions_cleaned.csv'
df.to_excel('olympics_history_noc_regions_cleaned.xlsx', index=False)